<header class="header">
  <div class="header__inner">
    <div class="header__heading">
      <h1 class="header__heading-text">
        <a href="{{ routes.root_url }}" class="header__heading-link">
          {%- if settings.logo != blank -%}
            {%- assign logo_alt = settings.logo.alt | default: shop.name | escape -%}
            {%- assign logo_height = settings.logo_width | divided_by: settings.logo.aspect_ratio -%}
            {{ settings.logo | image_url: width: settings.logo_width | image_tag:
              class: 'header__heading-logo motion-reduce',
              widths: '50, 100, 150, 200, 250, 300, 400, 500',
              height: logo_height,
              width: settings.logo_width,
              alt: logo_alt
            }}
          {%- else -%}
            <span class="h2">{{ shop.name }}</span>
          {%- endif -%}
        </a>
      </h1>
    </div>

    <nav class="header__inline-menu">
      <ul class="list-menu list-menu--inline" role="list">
        {%- for link in section.settings.menu.links -%}
          <li>
            <a href="{{ link.url }}" class="header__menu-item list-menu__item link link--text focus-inset"
              {% if link.current %} aria-current="page"{% endif %}
            >
              <span {%- if link.current %} class="header__active-menu-item"{% endif %}>
                {{ link.title | escape }}
              </span>
            </a>
          </li>
        {%- endfor -%}
      </ul>
    </nav>

    <div class="header__icons">
      <details-modal class="header__search">
        <details>
          <summary class="header__icon header__icon--search header__icon--summary link focus-inset modal__toggle" aria-haspopup="dialog" aria-label="Search">
            {% render 'icon-search' %}
          </summary>
          <div class="search-modal modal__content" role="dialog" aria-modal="true" aria-label="Search">
            <div class="modal-overlay"></div>
            <div class="search-modal__content">
              {%- if settings.predictive_search_enabled -%}
                <predictive-search class="search-modal__form" data-loading-text="Loading...">
              {%- endif -%}
                <form action="{{ routes.search_url }}" method="get" role="search" class="search search-modal__form">
                  <div class="field">
                    <input class="search__input field__input"
                      id="Search-In-Modal"
                      type="search"
                      name="q"
                      value="{{ search.terms | escape }}"
                      placeholder="Search"
                      {%- if settings.predictive_search_enabled -%}
                        role="combobox"
                        aria-expanded="false"
                        aria-owns="predictive-search-results-list"
                        aria-controls="predictive-search-results-list"
                        aria-haspopup="listbox"
                        aria-autocomplete="list"
                        autocorrect="off"
                        autocomplete="off"
                        autocapitalize="off"
                        spellcheck="false"
                      {%- endif -%}
                    >
                    <label class="field__label" for="Search-In-Modal">Search</label>
                    <input type="hidden" name="options[prefix]" value="last">
                    <button class="search__button field__button" aria-label="Search">
                      {% render 'icon-search' %}
                    </button>
                  </div>

                  {%- if settings.predictive_search_enabled -%}
                    <div class="predictive-search predictive-search--header" tabindex="-1" data-predictive-search>
                      <div class="predictive-search__loading-state">
                        {% render 'icon-loading' %}
                      </div>
                    </div>

                    <span class="predictive-search-status visually-hidden" role="status" aria-hidden="true"></span>
                  {%- endif -%}
                </form>
              {%- if settings.predictive_search_enabled -%}
                </predictive-search>
              {%- endif -%}
            </div>

            <button type="button" class="modal__close-button link link--text focus-inset" aria-label="Close">
              {% render 'icon-close' %}
            </button>
          </div>
        </details>
      </details-modal>

      <a href="{{ routes.cart_url }}" class="header__icon header__icon--cart link focus-inset" id="cart-icon-bubble">
        {%- liquid
          if cart == empty
            render 'icon-cart-empty'
          else
            render 'icon-cart'
          endif
        -%}
        <span class="visually-hidden">Cart</span>

        {%- if cart != empty -%}
          <div class="cart-count-bubble">
            {%- if cart.item_count < 100 -%}
              <span aria-hidden="true">{{ cart.item_count }}</span>
            {%- endif -%}
            <span class="visually-hidden">{{ cart.item_count }} {{ cart.item_count | pluralize: 'item', 'items' }}</span>
          </div>
        {%- endif -%}
      </a>
    </div>
  </div>
</header>

{% schema %}
{
  "name": "Header",
  "class": "section-header",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "Menu"
    },
    {
      "type": "header",
      "content": "Logo"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo image"
    },
    {
      "type": "range",
      "id": "logo_width",
      "min": 50,
      "max": 250,
      "step": 10,
      "default": 100,
      "unit": "px",
      "label": "Logo width"
    }
  ]
}
{% endschema %}